.layoutWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
}

.layoutContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  overflow-y: hidden;
}

.mention a {
  color: white;
  text-decoration: none;
  float: right;
  margin: calc(var(--size) * 1.5) calc(var(--size) * 2.5);
  font-size: 2em;
}
