@font-face {
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.woff");
}

:root {
  --size: 8px;
  --primary-font: OpenSans;
  --secondary-font: sans-serif;
}

body {
  font-family: var(--primary-font), "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: var(--size);
}
